.about {
  margin-bottom: 55px;
  font-family: "Open Sans", "Arial", sans-serif;

  &__title {
    font-size: 25px;
    font-weight: 700;
    line-height: 1.2;
  }

  &__list {
    font-size: 17px;
    font-weight: 700;
    line-height: 1.18;
    list-style: none;
  }
}
