.about {
  margin-bottom: 55px;
  font-family: "Open Sans", "Arial", sans-serif;
}

.about__title {
  font-size: 25px;
  font-weight: 700;
  line-height: 1.2;
}

.about__list {
  font-size: 17px;
  font-weight: 700;
  line-height: 1.18;
  list-style: none;
}
