.about {
  margin-bottom: 55px;

  font-family: "Open Sans", "Arial", sans-serif;
}

.about__container {
  width: 260px;
  margin: 0 auto;
}

.about__title {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 84px;

  font-size: 25px;
  font-weight: 700;
  line-height: 1.2;
}

.about__list {
  margin: 0;
  padding: 0;

  font-size: 17px;
  font-weight: 700;
  line-height: 1.18;
  list-style: none;
}

.about__item {
  margin-bottom: 80px;
}

@media (min-width: $tablet-width) {
  .about__container {
    width: 668px;
    margin: 0 auto;
  }

  .about__title {
    font-size: 43px;
    line-height: 1.16;
  }

  .about__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    font-size: 20px;
    line-height: 1.1;
  }

  .about__item {
    width: 300px;

    &--eco {
      order: -10;
    }

    &--knitting {
      order: -9;
    }

    &--money {
      order: -8;
    }

    &--rocket {
      order: -7;
    }

    &--like {
      order: -6;
    }
  }
}

@media (min-width: $desktop-width) {
  .about__container {
    width: 1050px;
    margin: 0 auto;
  }

  .about__title {
    font-size: 53px;
    line-height: 1.08;
  }

  .about__list {
    justify-content: flex-start;
    padding-left: 175px;
  }

  .about__item {
    width: 351px;

    &--eco {
      width: 205px;
      margin-right: 148px;
    }

    &--knitting {
      width: 248px;
    }
  }
}
