.catalog {
  font-family: "Open Sans", "Arial", sans-serif;

  &__intro {
    background-color: #f1f1f1;
  }

  &__title {
    padding: 70px 42px;
    font-size: 27px;
    font-weight: 700;
    line-height: 1.11;
  }

  &__list {
    list-style: none;
  }
}
