.catalog {
  font-family: "Open Sans", "Arial", sans-serif;
}

.catalog__container {
  margin-top: 30px;
}

.catalog__intro {
  background-color: #f1f1f1;
  border-top: 1px solid #ececec;
}

.catalog__title {
  margin: 0;
  padding: 73px 42px;

  font-size: 27px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
}

.catalog__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

@media (min-width: $tablet-width) {
  .catalog__container {
    position: relative;

    width: 668px;
    margin: 0 auto;
    margin-top: 79px;
  }

  .catalog__container::before {
    position: absolute;
    content: "";
    top: -89px;
    left: -50px;

    width: 769px;
    height: 24px;

    background: url("../img/bg-zigzag-fill.svg") no-repeat 0 0;
    background-size: 769px 24px;
  }

  .catalog__intro {

    min-height: 226px;
    margin-top: -46px;
  }

  .catalog__title {
    padding-top: 100px;

    font-size: 43px;
    line-height: 1.16;
  }
}

@media (min-width: $desktop-width) {
  .catalog__container {
    width: 1050px;
  }

  .catalog__container::before {
    position: absolute;
    content: "";
    top: -93px;
    left: -50px;

    width: 1150px;
    height: 34px;

    background: url("../img/bg-zigzag-fill.svg") no-repeat 0 0;
    background-size: 1150px 34px;
  }

  .catalog__intro {
    min-height: 255px;
  }

  .catalog__title {
    font-size: 53px;
    line-height: 1.08;
  }
}
