.catalog {
  font-family: "Open Sans", "Arial", sans-serif;
}

.catalog__intro {
  background-color: #f1f1f1;
}

.catalog__title {
  padding: 70px 42px;
  font-size: 27px;
  font-weight: 700;
  line-height: 1.11;
}

.catalog__list {
  list-style: none;
}
