.footer {
  font-family: "Open Sans", "Arial", sans-serif;
  background-color: #f1f1f1;
}

.social__list {
  list-style: none;
}

.copyright__text {
  font-size: 19px;
  font-weight: 700;
  line-height: 0.95;
}
