.form-type {
  margin: 0;
  padding: 0;

  font-family: "Open Sans", "Arial", sans-serif;

  border: none;
}

.form-type__tittle {
  font-size: 17px;
  font-weight: 700;
  line-height: 0.94;
  text-transform: uppercase;
  color: #63d1bb;
}

.form-type__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.form-type__list-item {
  margin-top: 32px;
  margin-left: 62px;

  font-size: 17px;
  font-weight: 700;
  line-height: 1.06;

  &--toy {
    margin-top: 20px;
  }
}

.form-type__label {
  position: relative;
}

.form-type__label::before {
  position: absolute;
  content: "";
  top: 0;
  left: -62px;

  width: 40px;
  height: 40px;

  border: 2px solid #444444;
  border-radius: 100%;
}

.form-type__list-radio:checked + .form-type__label::after {
  position: absolute;
  content: "";
  top: 12px;
  left: -50px;

  width: 16px;
  height: 16px;

  background: #62d1ba;
  border-radius: 100%;
}

@media (min-width: $tablet-width) {
  .form-type__list-item {
    font-size: 19px;
    line-height: 0.95;
  }
}
