.modal {
  position: fixed;

  display: none;
}

.modal-cart {
  top: 50%;
  left: 50%;

  width: 320px;
  min-height: 336px;
  margin: 0 auto;
  margin-top: -168px;
  margin-left: -160px;

  font-family: "Open Sans", "Arial", sans-serif;

  background-color: #ffffff;
  box-shadow: 0 5px 10px 0 rgba(0, 1, 1, 0.25);
  border: 1px solid  #c6c6c6;

  z-index: 2000;
}

.modal-cart-show {
  display: block;

  animation: bounce 0.6s;
}

.modal-cart-opacity {
  opacity: 0.9;
}

@keyframes bounce {
  0% {
    transform: translateY(2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.modal-cart__container {
  width: 260px;
  margin: 0 auto;
}

.modal-cart__tittle {
  display: block;
  width: 148px;
  margin: 0;
  margin-top: 30px;
  margin-left: 59px;

  font-size: 25px;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
}

.modal-cart__text {
  margin: 0;
  padding-top: 12px;

  font-size: 15px;
  line-height: 2;
  text-align: center;
}

.modal-cart__list {
  display: flex;
  margin: 0;
  padding: 0;
  margin-top: 22px;

  list-style: none;
}

.modal-cart__size {
  width: 82px;
  min-height: 52px;
  margin-right: 7px;
  padding: 0;

  font-size: 17px;
  font-weight: bold;
  line-height: 0.94;
  cursor: pointer;

  background-color: #ffffff;
  border: 2px solid #ececec;
  outline: 0;

  &--active {
    border-color: #63d1bb;
  }

  &--l {
    margin-right: 0;
  }
}

.modal-cart__size:hover {
  border-color: #c7c7c7;
}

.modal-cart__size:active,
.modal-cart__size:focus {
  border-color: #62d1ba;
}

.modal-cart__add {
  display: block;
  width: 260px;
  min-height: 52px;
  margin-top: 31px;
  margin-bottom: 46px;
  padding-top: 18px;

  font-size: 17px;
  font-weight: bold;
  line-height: 0.94;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #63d1bb;
}

@media (min-width: $tablet-width) {
  .modal-cart {
    width: 556px;
    margin-left: -278px;
  }

  .modal-cart__container {
    width: 354px;
  }

  .modal-cart__tittle {
    width: 100%;
    margin-left: 0;
    margin-top: 35px;

    font-size: 30px;
    line-height: 1.9;
  }

  .modal-cart__text {
    padding-top: 10px;

    font-size: 17px;
    line-height: 1.76;
  }

  .modal-cart__size {
    width: 112px;
  }

  .modal-cart__add {
    width: 350px;
  }
}
