.nav {
  width: 320px;
  margin: 0 auto;
  font-family: "Open Sans", "Arial", sans-serif;
}

.nav__list {
  display: flex;
<<<<<<< HEAD
=======
  flex-direction: column;
>>>>>>> 434006e88438eaf8e3107eaca683ed8ffc99a53a
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 17px;
  line-height: 1.41;
  list-style: none;
}

@media (min-width: $tablet-width) {
  .nav {
    width: auto;
    margin: 0;
  }
<<<<<<< HEAD
=======

  .nav__list {
    flex-direction: row;
  }
>>>>>>> 434006e88438eaf8e3107eaca683ed8ffc99a53a
}
