.product-list {
  font-family: "Open Sans", "Arial", sans-serif;
}

.product-list__title {
  font-size: 17px;
  font-weight: 700;
  line-height: 1.41;
}

.product-list__properties {
  font-size: 13px;
  line-height: 2.31;
  color: #444444;
}

.product-list__price {
  font-size: 15px;
  font-weight: 700;
  line-height: 1.6;
}
