.product-list {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: "Open Sans", "Arial", sans-serif;
}

.product-list__item {
  width: 260px;
  min-height: 375px;
  margin-bottom: 30px;

  &:hover .product-list__item-wrapper {
    box-shadow: 0px 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active .product-list__item-wrapper,
  &:focus .product-list__item-wrapper {
    box-shadow: 0px 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.product-list__item-wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  min-height: 180px;
  margin-top: -4px;

  border: 1px solid #ececec;

  &--basket-toys {
    min-height: 204px;
  }
}

.product-list__title {
  margin: 0;
  padding-top: 28px;
  padding-left: 28px;

  font-size: 17px;
  font-weight: 700;
  line-height: 1.41;
}

.product-list__title::before {
  content: "";
  position: absolute;
  bottom: 73px;
  left: 28px;

  width: 204px;
  height: 1px;

  background-color: #ececec;
}

.product-list__properties {
  margin: 0;
  padding-top: 15px;
  padding-left: 28px;

  font-size: 13px;
  line-height: 2.31;
  color: #444444;
}

.product-list__price {
  position: relative;

  display: flex;
  justify-content: space-between;
  margin: 0;
  padding-bottom: 26px;
  padding-left: 28px;
  margin-top: auto;

  font-size: 15px;
  font-weight: 700;
  line-height: 1.6;
}

.product-list__price a {
  margin-right: 27px;

  opacity: 0.2;
}

.product-list__price a:hover {
  fill: #63d1bb;
  opacity: 1;
}

.product-list__price a:active,
.product-list__price a:focus {
  fill: #63d1bb;
  opacity: 0.3;
}

.product-list__cart-icon {
  top: 135px;
  right: 27px;
}

@media (min-width: $tablet-width) {
  .product-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .product-list__item {
    display: flex;
    flex-wrap: wrap;
    width: 668px;
    min-height: 334px;
    margin-bottom: 54px;
  }

  .product-list__photo {
    width: 334px;
    height: 334px;
  }

  .product-list__photo img {
    width: 334px;
  }

  .product-list__item-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 334px;
    min-height: 334px;
    margin-top: 0;
  }

  .product-list__title {
    padding-top: 25px;

    font-size: 20px;
    line-height: 1.2;
  }

  .product-list__title::before {
    width: 268px;
  }

  .product-list__properties {
    padding-top: 5px;

    font-size: 15px;
    line-height: 2;
  }

  .product-list__price {
    font-size: 17px;
    line-height: 1.41;
  }

  .product-list__price a {
    margin-right: 32px;
  }
}

@media (min-width: $desktop-width) {
  .product-list {
    flex-direction: row;
  }

  .product-list__item {
    width: 315px;
    min-height: 660px;
    margin-right: 52px;
  }

  .product-list__item:last-child {
    margin-right: 0;
  }

  .product-list__item-wrapper {
    width: 316px;
    min-height: 197px;
    margin-top: -5px;
  }

  .product-list__photo {
    width: 316px;
    height: 462px;
  }
}
