.reviews {
  margin-bottom: 45px;

  font-family: "Open Sans", "Arial", sans-serif;
}

.reviews__container {
  width: 260px;
  margin: 0 auto;
}

.reviews__title {
  font-size: 25px;
  font-weight: 700;
  line-height: 1.2;
}

.reviews__text {
  font-size: 15px;
  line-height: 2;
  color: #444444;
}

.reviews__author {
  font-style: normal;
  font-size: 17px;
  font-weight: 700;
  line-height: 1.41;
}

.reviews__author span {
  font-weight: 400;
  line-height: 1.76;
  color: #444444;
}

@media (min-width: $tablet-width) {
  .reviews__container {
    width: 668px;
  }
}

@media (min-width: $desktop-width) {
  .reviews__container {
    width: 1050px;
  }
}
