.site-list__item a {
  display: block;
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 76px;
}

.site-list__logo a {
  padding-left: 0;

  text-align: center;
}

.site-list__item--arrivals,
.site-list__item--sale,
.site-list__item--delivery {
  display: none;
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
  }

  .site-list__item a {
    padding: 0;
  }

  .site-list__logo {
    padding-right: 210px;
    order: -10;
  }

  .site-list__item--search {
    order: -9;
  }

  .site-list__item--cart {
    order: -8;
  }

  .site-list__item--delivery {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .site-list__item--logo-desktop,
  .site-list__item--sale,
  .site-list__item--arrivals {
    display: block;
  }

  .site-list__item--catalog {
    padding-right: 71px;

    order: -10;
  }

  .site-list__item--form {
    padding-right: 75px;

    order: -9;
  }

  .site-list__logo {
    order: -8;
  }

  .site-list__item--search {
    order: -7;
  }

  .site-list__item--cart {
    order: -6;
  }
}
